.form{
    display: flex;
    height: 100%;
}

.inputInput {
    flex: 8;
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border: 0;
    padding: 8px;
    background-color: #4E4E50;
    color: white;
}

.inputInput::placeholder{
    color: #f2f2f2;
}

.inputSendButton {
    flex: 1;
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #C3073F;
    color: white;
    border: 0;
    background-image: url('../../images/sendDefault.png');
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
}

.inputSendButton:hover {
    background-image: url('../../images/sendHover.png');
    cursor: pointer;
}