* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.infoBar {
    display: flex;
    background-color:rgba(26, 26, 29, 1);
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px;
}
.infoRoom{
    display: flex;
    align-items: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.infoUsersDefault, .infoUsersRed {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 25px;
}

.infoUsersDefault{
    background-image: url('../../images/userDefault.png');
}

.infoUsersRed{
    background-image: url('../../images/userHover.png');
}

.infoUsersDefault:hover, .infoUsersRed:hover {
    cursor: pointer;
}

.infoUsersDefault:hover {
    background-image: url('../../images/userHover.png');
}

.infoClose {
    display: flex;
}

.infoOnlineIcon, .infoCloseIcon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.infoOnlineIcon{
    background-image: url('../../images/onlineIcon.png');
    margin-right: 15px;
}

.infoCloseIcon{
    background-image: url('../../images/cancelDefault.png');
}

.infoCloseIcon:hover{
    background-image: url('../../images/cancelHover.png');
}