.userOnlineIcon {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/onlineIcon.png');
    margin-right: 10px;
}

.userContainer{
    display: flex;
    align-items: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 8px 8px 8px;
}
